.header {
    position: relative;
    height: 120px;
    width: 100%;
    background-color: powderblue;
}

.logo {
    width: 100px;
    height: 100px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 0px;
}

.heading {
    position: absolute;
    top: 30px;
    left: 45%;
}

#menu-buttons {
    margin-top: 20px;
    border-radius: 15px;
    background: #cccccc;
    padding: 10px;
    width: 200px;
    height: 50px;
    position: relative;
}
#menu-buttons.active {
    background: #73AD21!important;
}
#menu-buttons.active .menu-text {
    color: #fff!important;
    cursor: pointer;
}
#menu-buttons  .menu-text {
    font-size: 20px;
    font-weight: 600;
    color: #777777;
    cursor: pointer;
}

.menu-text {
    font-size: 20px;
    font-weight: 600;
}
.main-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.cattle-weights .weight-gain{
  padding-left: 10px;
}
#nutrition-table {
  padding-top: 20px;
}
.quantities {
  min-width: 800px;
}
.weights {
  min-width: 800px;
}
.main-part {
    min-width: 800px;
}
.next-button {
  margin-left: 80%;
}
.side-bar #menu-buttons a {
  text-decoration: none;
  color: #777777;
}
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
