<!DOCTYPE html>
<html lang="en">

<head>
    <title>CATTLE WEIGHT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../stylesheets/cattleWeight.css">
    <script src="../../scripts/script.js"></script>
</head>

<body onLoad="onLoadFunction()">
    <body>
        <div class="container-fluid">
            <!-- This contains the logo and Heading  -->
            <div class="header">
                <div class="logo top-left">
                    <img src="../../images/logo.jpeg" alt="Ration Balancing" class="logo">
                </div>
                <div class="heading">
                    <h2>CATTLE WEIGHT</h2>
                </div>
            </div>
            <!-- This main body which contains the side-bar and main content -->
            <div class="main-body">
                <div class="row">
                    <!-- This side bar is used for menu navigation -->
                    <div class="side-bar">
                        <div class="col-sm-12 col-md-2 col-lg-2 col-xs-12">
                            <a href="/cattleweight">
                                <div id="menu-buttons" class="active">
                                    <p class="menu-text text-center">Cattle Weight</p>
                                </div>
                            </a>
                            <a href="/feedstuff">
                                <div id="menu-buttons">
                                    <p class="menu-text text-center">FeedStuffs</p>
                                </div>
                            </a>
                            <a href="/rationweights">
                                <div id="menu-buttons">
                                    <p class="menu-text text-center">Ration Weights</p>
                                </div>
                            </a>
                            <a href="/index">
                                <div id="menu-buttons">
                                    <p class="menu-text text-center">Logout</p>
                                </div>
                            </a>


                        </div>
                    </div>
                    <!-- In this class which contians the cattle weight selection, cattle weight gain selection and nutrition table -->
                    <div class="main-content">
                        <div class="col-sm-12 col-md-10 col-lg-10 col-xs-12">
                           
                            <div>
                                <p>
                                    <h5>Selected Weight: <span id="wSelected"> </span>  Pounds</h5>
                                </p>
                                <p>
                                    <h5>Selected Weight Gain: <span id="wgSelected"></span></h5>
                                </p>
                            </div>
                            <!-- cattle weight selections -->
                            <div class="cattle-weights">
                                <div class="btn-group" role="group" aria-label="Weight Gain Buttons">
                                    
                                    <h4 class="weights-label">Weights:</h4>
                                    <button type="button" class="btn btn-secondary" onclick="Function450()">450
                                    </button>
                                    <button type="button" class="btn btn-secondary" onclick="Function550()">550
                                    </button>
                                    <button type="button" class="btn btn-secondary" onclick="Function650()">650
                                    </button>
                                    <button type="button" class="btn btn-secondary" onclick="Function750()">750
                                    </button>
                                    <button type="button" class="btn btn-secondary" onclick="Function950()">950
                                    </button>
                                    <!-- cattle weight gain selection per day -->
                                    <select id="Gain" class="weightGain">
                                        <option id="1" value="6">Select Weight Gain</option>
                                        <option id="1" value="7">1.1 kg</option>
                                        <option id="2" value="8">2.2 kg</option>
                                        <option id="3" value="9">3.3 kg</option>
                                        <option id="4" value="10">4.4 kg</option>
                                        <option id="5" value="11">5.5 kg</option>
                                    </select>
                                </div>
                            </div>
                            <!-- This is the nutrition table which contains the constent nutrition values of the %CP, NE M, NE G, %CA, %P -->
                            <div id="nutrition-table">
                                <form action="/feedstuff" onsubmit="clickedNEXTBTN();localstorageWeight();">
                                    <div class="col-sm-12 col-md-8 col-lg-8 col-xs-12">
                                        <table id="table-style">
                                            <tr>
                                                <th scope="col"><u>Nutrition</u></th>
                                                <th scope="col"><u>Min</u></th>
                                                <th scope="col"><u>Max</u></th>
                                            </tr>
                                            <tr>
                                                <td scope="row">%CP</td>
                                                <td><input type="number" step="any" id="CP-Min"
                                                        class="form-control text-field-button" id="usr" value=""
                                                        required></td>
                                                <td><input type="number" step="any" id="CP-Max"
                                                        class="form-control text-field-button" id="usr" value=""
                                                        required></td>
                                            </tr>
                                            <tr>
                                                <td scope="row">Nem (Mcal/cwt)</td>
                                                <td><input type="number" step="any" id="NEM-Min"
                                                        class="form-control text-field-button" id="usr" value=""
                                                        required></td>
                                                <td><input type="number" step="any" id="NEM-Max"
                                                        class="form-control text-field-button" id="usr" value=""
                                                        required></td>
                                            </tr>
                                            <tr>
                                                <td scope="row">Neg (Mcal/cwt)</td>
                                                <td><input type="number" step="any" id="NEG-Min"
                                                        class="form-control text-field-button" id="usr" value=""
                                                        required></td>
                                                <td><input type="number" step="any" id="NEG-Max"
                                                        class="form-control text-field-button" id="usr" value=""
                                                        required></td>
                                            </tr>
                                            <tr>
                                                <td scope="row">%CA</td>
                                                <td><input type="number" step="any" id="CA-Min"
                                                        class="form-control text-field-button" id="usr" value=""
                                                        required></td>
                                                <td><input type="number" step="any" id="CA-Max"
                                                        class="form-control text-field-button" id="usr" value=""
                                                        required></td>
                                            </tr>
                                            <tr>
                                                <td scope="row">%P</td>
                                                <td><input type="number" step="any" id="P-Min"
                                                        class="form-control text-field-button" id="usr" value=""
                                                        required></td>
                                                <td><input type="number" step="any" id="P-Max"
                                                        class="form-control text-field-button" id="usr" value=""
                                                        required></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- This is the Next BUttons which navigates to the next page feedstuff.html-->
                                    <div class="next-button">
                                                <button type="button" class="clearSessionStorage btn btn-secondary" onclick="clearSessionStorage()">Reset</button>
                                                <a href="/feedstuff"><button type="submit" class="next btn btn-secondary"> Next</button></a>
                                    </div>
                                    
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
   
    <script type="text/javascript">
       // This funtion is used to clear the session storage
        function clearSessionStorage(){
            sessionStorage.clear();
            location.reload();
        }
        // Assigning the previous selected weights and nutrients to the variables
        Previousweight = sessionStorage.getItem("SelectedWeight");
        Previousgain = sessionStorage.getItem("SelectedWeightGain");
        document.getElementById("wSelected").innerHTML = Previousweight;
        document.getElementById("wgSelected").innerHTML = Previousgain;
        PreviousCPMinSelected = sessionStorage.getItem("CPMinSelected");
        PreviousCPMaxSelected = sessionStorage.getItem("CPMaxSelected");
        PreviousNEMMinSelected = sessionStorage.getItem("NEMMinSelected");
        PreviousNEMMaxSelected = sessionStorage.getItem("NEMMaxSelected");
        PreviousNEGMinSelected = sessionStorage.getItem("NEGMinSelected");
        PreviousNEGMaxSelected = sessionStorage.getItem("NEGMaxSelected");
        PreviousCAMinSelected = sessionStorage.getItem("CAMinSelected");
        PreviousCAMaxSelected = sessionStorage.getItem("CAMaxSelected");
        PreviousPMinSelected = sessionStorage.getItem("PMinSelected");
        PreviousPMaxSelected = sessionStorage.getItem("PMaxSelected");

        document.getElementById("CP-Min").value = PreviousCPMinSelected;
        document.getElementById("CP-Max").value = PreviousCPMaxSelected;
        document.getElementById("NEM-Min").value = PreviousNEMMinSelected;
        document.getElementById("NEM-Max").value = PreviousNEMMaxSelected;
        document.getElementById("NEG-Min").value = PreviousNEGMinSelected;
        document.getElementById("NEG-Max").value = PreviousNEGMaxSelected;
        document.getElementById("CA-Min").value = PreviousCAMinSelected;
        document.getElementById("CA-Max").value = PreviousCAMaxSelected;
        document.getElementById("P-Min").value = PreviousPMinSelected;
        document.getElementById("P-Max").value = PreviousPMaxSelected;

        // funtions to disable and enable 
        var x = 0;
        function onLoadFunction() {
            document.getElementById("Gain").disabled = true;
        }
        function enable() {
            document.getElementById("Gain").disabled = false;
        }
        //  Onclick function for 450 Pounds cattle weight
        function Function450() {
            document.getElementById("wSelected").innerHTML = 450;
            enable();
            x = 1;
            document.getElementById("CP-Min").value = "8.7";
            document.getElementById("CP-Max").value = "10.3";
            document.getElementById("NEM-Min").value = "0.50";
            document.getElementById("NEM-Max").value = "0.56";
            document.getElementById("NEG-Min").value = "0.24";
            document.getElementById("NEG-Max").value = "0.30";
            document.getElementById("CA-Min").value = "0.27";
            document.getElementById("CA-Max").value = "0.30";
            document.getElementById("P-Min").value = "0.15";
            document.getElementById("P-Max").value = "0.19";
        }
        //  Onclick function for 550 Pounds cattle weight
        function Function550() {
            document.getElementById("wSelected").innerHTML = 550;
            enable();
            x = 2;
            document.getElementById("CP-Min").value = "8.4";
            document.getElementById("CP-Max").value = "8.9";
            document.getElementById("NEM-Min").value = "0.50";
            document.getElementById("NEM-Max").value = "0.56";
            document.getElementById("NEG-Min").value = "0.24";
            document.getElementById("NEG-Max").value = "0.30";
            document.getElementById("CA-Min").value = "0.25";
            document.getElementById("CA-Max").value = "0.33";
            document.getElementById("P-Min").value = "0.15";
            document.getElementById("P-Max").value = "0.17";
        }
        //  Onclick function for 650 Pounds cattle weight
        function Function650() {
            document.getElementById("wSelected").innerHTML = 650;
            enable();
            x = 3;
            document.getElementById("CP-Min").value = "8.2";
            document.getElementById("CP-Max").value = "9.3";
            document.getElementById("NEM-Min").value = "0.50";
            document.getElementById("NEM-Max").value = "0.56";
            document.getElementById("NEG-Min").value = "0.24";
            document.getElementById("NEG-Max").value = "0.30";
            document.getElementById("CA-Min").value = "0.23";
            document.getElementById("CA-Max").value = "0.29";
            document.getElementById("P-Min").value = "0.14";
            document.getElementById("P-Max").value = "0.16";
        }
        //  Onclick function for 750 Pounds cattle weight
        function Function750() {
            document.getElementById("wSelected").innerHTML = 750;
            enable();
            x = 4;
            document.getElementById("CP-Min").value = "8.0";
            document.getElementById("CP-Max").value = "8.9";
            document.getElementById("NEM-Min").value = "0.50";
            document.getElementById("NEM-Max").value = "0.56";
            document.getElementById("NEG-Min").value = "0.24";
            document.getElementById("NEG-Max").value = "0.30";
            document.getElementById("CA-Min").value = "0.22";
            document.getElementById("CA-Max").value = "0.27";
            document.getElementById("P-Min").value = "0.14";
            document.getElementById("P-Max").value = "0.15";
        }
        //  Onclick function for 950 Pounds cattle weight
        function Function950() {
            document.getElementById("wSelected").innerHTML = 950;
            enable();
            x = 5;
            document.getElementById("CP-Min").value = "6.7";
            document.getElementById("CP-Max").value = "8.6";
            document.getElementById("NEM-Min").value = "0.45";
            document.getElementById("NEM-Max").value = "0.60";
            document.getElementById("NEG-Min").value = "0.20";
            document.getElementById("NEG-Max").value = "0.34";
            document.getElementById("CA-Min").value = "0.20";
            document.getElementById("CA-Max").value = "0.29";
            document.getElementById("P-Min").value = "0.13";
            document.getElementById("P-Max").value = "0.16";
        }
        //  To display selected weightgain on each page
        $(document).ready(function () {
            $("select.weightGain").change(function () {
                var selectedWeightGain = $(this).children("option:selected").val();
                switch (parseInt(selectedWeightGain)) {
                    case 7:
                        weightGain1(selectedWeightGain, x);
                        break;
                    case 8:
                        weightGain2(selectedWeightGain, x);
                        break;
                    case 9:
                        weightGain3(selectedWeightGain, x);
                        break;
                    case 10:
                        weightGain4(selectedWeightGain, x);
                        break;
                    case 11:
                        weightGain5(selectedWeightGain, x);
                        break;
                    default:
                        alert("You didn't select the weight gain")
                }
            });
        });
        //  Drop-down for weight gain selection 
        function weightGain1(selectedWeightGain, x) {
            document.getElementById("wgSelected").innerHTML = "1.1 kg";
            if (x == 1) {
                // alert("adding 1.1 to all the Nutrients")
                document.getElementById("CP-Min").value = "10.4";
                document.getElementById("CP-Max").value = "12.0";
                document.getElementById("NEM-Min").value = "0.57";
                document.getElementById("NEM-Max").value = "0.64";
                document.getElementById("NEG-Min").value = "0.31";
                document.getElementById("NEG-Max").value = "0.36";
                document.getElementById("CA-Min").value = "0.39";
                document.getElementById("CA-Max").value = "0.49";
                document.getElementById("P-Min").value = "0.20";
                document.getElementById("P-Max").value = "0.24";
            } else if (x == 2) {
                //alert("adding 3.3 to all the Nutrients")
                document.getElementById("CP-Min").value = "9.8";
                document.getElementById("CP-Max").value = "11.2";
                document.getElementById("NEM-Min").value = "0.57";
                document.getElementById("NEM-Max").value = "0.63";
                document.getElementById("NEG-Min").value = "0.31";
                document.getElementById("NEG-Max").value = "0.36";
                document.getElementById("CA-Min").value = "0.34";
                document.getElementById("CA-Max").value = "0.41";
                document.getElementById("P-Min").value = "0.18";
                document.getElementById("P-Max").value = "0.21";
            } else if (selectedWeightGain == 10) {
                //alert("adding 4.4 to all the Nutrients")
                document.getElementById("CP-Min").value = "9.4";
                document.getElementById("CP-Max").value = "10.5";
                document.getElementById("NEM-Min").value = "0.57";
                document.getElementById("NEM-Max").value = "0.63";
                document.getElementById("NEG-Min").value = "0.31";
                document.getElementById("NEG-Max").value = "0.36";
                document.getElementById("CA-Min").value = "0.30";
                document.getElementById("CA-Max").value = "0.37";
                document.getElementById("P-Min").value = "0.17";
                document.getElementById("P-Max").value = "0.19";
            } else if (selectedWeightGain == 11) {
                //alert("adding 5.5 to all the Nutrients")
                document.getElementById("CP-Min").value = "9.0";
                document.getElementById("CP-Max").value = "10.0";
                document.getElementById("NEM-Min").value = "0.57";
                document.getElementById("NEM-Max").value = "0.63";
                document.getElementById("NEG-Min").value = "0.31";
                document.getElementById("NEG-Max").value = "0.36";
                document.getElementById("CA-Min").value = "0.28";
                document.getElementById("CA-Max").value = "0.32";
                document.getElementById("P-Min").value = "0.16";
                document.getElementById("P-Max").value = "0.18";
            } else if (selectedWeightGain == 7) {
                //alert("adding 1.1 to all the Nutrients")
                document.getElementById("CP-Min").value = "12.7";
                document.getElementById("CP-Max").value = "14.4";
                document.getElementById("NEM-Min").value = "0.78";
                document.getElementById("NEM-Max").value = "0.88";
                document.getElementById("NEG-Min").value = "0.50";
                document.getElementById("NEG-Max").value = "0.58";
                document.getElementById("CA-Min").value = "0.47";
                document.getElementById("CA-Max").value = "0.55";
                document.getElementById("P-Min").value = "0.24";
                document.getElementById("P-Max").value = "0.27";
            } else {
                alert("Select the Weight Gain")
            }
        }
        // function weight gain selected 2.2 kg
        function weightGain2() {
            document.getElementById("wgSelected").innerHTML = "2.2 kg";
            document.getElementById("CP-Min").value = "14.1";
            document.getElementById("CP-Max").value = "16.2";
            document.getElementById("NEM-Min").value = "0.72";
            document.getElementById("NEM-Max").value = "0.80";
            document.getElementById("NEG-Min").value = "0.44";
            document.getElementById("NEG-Max").value = "0.51";
            document.getElementById("CA-Min").value = "0.62";
            document.getElementById("CA-Max").value = "0.74";
            document.getElementById("P-Min").value = "0.29";
            document.getElementById("P-Max").value = "0.33";
        } 
        // function weight gain selected 3.3 kg
        function weightGain3() {
            document.getElementById("wgSelected").innerHTML = "3.3 kg";
            //alert("weight Gain 3.3  button is clicked")
            document.getElementById("CP-Min").value = "16.1";
            document.getElementById("CP-Max").value = "18.7";
            document.getElementById("NEM-Min").value = "0.78";
            document.getElementById("NEM-Max").value = "0.88";
            document.getElementById("NEG-Min").value = "0.50";
            document.getElementById("NEG-Max").value = "0.58";
            document.getElementById("CA-Min").value = "0.76";
            document.getElementById("CA-Max").value = "0.90";
            document.getElementById("P-Min").value = "0.35";
            document.getElementById("P-Max").value = "0.41";
        }
        // function weight gain selected 4.4 kg
        function weightGain4() {
            document.getElementById("wgSelected").innerHTML = "4.4 kg";
            // alert("weight Gain 4.4  button is clicked")
            document.getElementById("CP-Min").value = "18.3";
            document.getElementById("CP-Max").value = "19.2";
            document.getElementById("NEM-Min").value = "0.89";
            document.getElementById("NEM-Max").value = "0.98";
            document.getElementById("NEG-Min").value = "0.50";
            document.getElementById("NEG-Max").value = "0.58";
            document.getElementById("CA-Min").value = "0.80";
            document.getElementById("CA-Max").value = "0.98";
            document.getElementById("P-Min").value = "0.38";
            document.getElementById("P-Max").value = "0.45";
        }
        // function weight gain selected 5.5 kg
        function weightGain5() {
            document.getElementById("wgSelected").innerHTML = "5.5 kg";
            //alert("weight Gain 5.5  button is clicked")
            document.getElementById("CP-Min").value = "18.3";
            document.getElementById("CP-Max").value = "19.2";
            document.getElementById("NEM-Min").value = "0.89";
            document.getElementById("NEM-Max").value = "0.98";
            document.getElementById("NEG-Min").value = "0.50";
            document.getElementById("NEG-Max").value = "0.58";
            document.getElementById("CA-Min").value = "0.80";
            document.getElementById("CA-Max").value = "0.98";
            document.getElementById("P-Min").value = "0.38";
            document.getElementById("P-Max").value = "0.45";
        }
        //alert(wgSelected);
        // console.log(wgSelected);
        // to store data locally on browser
        function localstorageWeight() {
            // alert("In the local Storage")
            var weight;
            switch (x) {
                case 1:
                    // alert("This is case "+x)
                    weight = 450;
                    // alert("localStorage 450 button is clicked");
                    break;
                case 2:
                    // alert("This is case "+x)
                    weight = 550;
                    // alert("localStorage 550 button is clicked")
                    break;
                case 3:
                    // alert("This is case "+x)
                    weight = 650;
                    // alert("localStorage 650 button is clicked")
                    break;
                case 4:
                    // alert("This is case "+x)
                    weight = 750;
                    // alert("localStorage 750 button is clicked")
                    break;
                case 5:
                    // alert("This is case "+x)
                    weight = 950;
                    // alert("localStorage 950 button is clicked")
                    break;
                default:
                    weight = 0;
                // alert("Please select Weights first");
            }
           
            // assigning the nutrient values to the variables and storing those values in the session storage
            let wG = document.getElementById("wgSelected").innerHTML;
            let CPMinSelected = document.getElementById("CP-Min").value;
            let CPMaxSelected = document.getElementById("CP-Max").value;
            let NEMMinSelected = document.getElementById("NEM-Min").value;
            let NEMMaxSelected = document.getElementById("NEM-Max").value;
            let NEGMinSelected = document.getElementById("NEG-Min").value;
            let NEGMaxSelected = document.getElementById("NEG-Max").value;
            let CAMinSelected = document.getElementById("CA-Min").value;
            let CAMaxSelected = document.getElementById("CA-Max").value;
            let PMinSelected = document.getElementById("P-Min").value;
            let PMaxSelected = document.getElementById("P-Max").value;

            if (sessionStorage) {
                // Store data in the session storage

                sessionStorage.setItem("SelectedWeight", weight);
                sessionStorage.setItem("SelectedWeightGain", wG);
                sessionStorage.setItem("CPMinSelected", CPMinSelected);
                sessionStorage.setItem("CPMaxSelected", CPMaxSelected);
                sessionStorage.setItem("NEMMinSelected", NEMMinSelected);
                sessionStorage.setItem("NEMMaxSelected", NEMMaxSelected);
                sessionStorage.setItem("NEGMinSelected", NEGMinSelected);
                sessionStorage.setItem("NEGMaxSelected", NEGMaxSelected);
                sessionStorage.setItem("CAMinSelected", CAMinSelected);
                sessionStorage.setItem("CAMaxSelected", CAMaxSelected);
                sessionStorage.setItem("PMinSelected", PMinSelected);
                sessionStorage.setItem("PMaxSelected", PMaxSelected);

            } else {
                alert("Sorry, your browser do not support session storage. So you cannot save the session data");
            }

        }

    </script>

</html>