<!DOCTYPE html>
<html lang="en">

<head>
   <title>FEEDSTUFFS</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="../../stylesheets/jquery-ui.min.css">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
   <link rel="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>
   <script src="/scripts/jquery-ui.min.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.22/webcomponents.js'></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
   <link rel="stylesheet" href="../../stylesheets/FeedStuffs.css">
   <link rel="import" href="https://rawgit.com/sitepoint-editors/multiselect-web-component/master/src/multiselect.html">
   <style>
      #searchResults li {
         list-style-type: none;
         height: 25px !important;
         width: 400px;
         cursor: pointer
      }
      #searchResults li:hover {
         background-color: lightgreen;
         cursor: pointer;
      }
   </style>
   <script>
      //Gives alert when the user came to this page without selecting the weight
      weight = sessionStorage.getItem("SelectedWeight");
      if(weight == null){
         console.log("weight not selected")
         alert("Select the weight");
      }
   </script>
</head>

<body onclick="onBodyClick(event)">
   <!-- This contains the logo and Heading  -->
   <div class="container-fluid">
      <div class="header">
         <div class="logo top-left">
            <img src="../../images/logo.jpeg" alt="Ration Balancing" class="logo">
         </div>
         <div class="heading">
            <h2>FEEDSTUFFS</h2>
         </div>
      </div>
      <!-- This main body which contains the side-bar and main content -->
      <div class="main-body">
         <div class="row">
            <!-- This side bar is used for menu navigation -->
            <div class="side-bar col-sm-12 col-md-2 col-lg-2 col-xs-12">
               <div>
                  <a href="/cattleweight">
                     <div id="menu-buttons">
                        <p class="menu-text text-center">Cattle Weight</p>
                     </div>
                  </a>
                  <a href="/feedstuff">
                     <div id="menu-buttons" class="active">
                        <p class="menu-text text-center">FeedStuffs</p>
                     </div>
                  </a>
                  <a href="/rationweights">
                     <div id="menu-buttons">
                        <p class="menu-text text-center">Ration Weights</p>
                     </div>
                  </a>
                  <a href="/index">
                     <div id="menu-buttons">
                        <p class="menu-text text-center">Logout</p>
                     </div>
                  </a>
               </div>
            </div>
            <!-- Navigation bar to select ingredients in alphabetical order -->
            <div class="main-content col-sm-12 col-md-10 col-lg-10 col-xs-12">
               <div>
                  <div>
                     <p>
                        <h5>Weight Selected: <span id="weight"></span></h5>
                     </p>
                     <p>
                        <h5>Selected Weight Gain: <span id="gain"></span></h5>
                     </p>
                  </div>
                  <div class="feed-categories">
                     <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                           <button type="button" value="A" class="btn btn-secondary">A</button>
                           <button type="button" value="B" class="btn btn-secondary">B</button>
                           <button type="button" value="C" class="btn btn-secondary">C</button>
                           <button type="button" value="D" class="btn btn-secondary">D</button>
                           <button type="button" value="E" class="btn btn-secondary">E</button>
                           <button type="button" value="F" class="btn btn-secondary">F</button>
                           <button type="button" value="G" class="btn btn-secondary">G</button>
                           <button type="button" value="H" class="btn btn-secondary">H</button>
                           <button type="button" value="I" class="btn btn-secondary">I</button>
                           <button type="button" value="J" class="btn btn-secondary">J</button>
                           <button type="button" value="K" class="btn btn-secondary">K</button>
                           <button type="button" value="L" class="btn btn-secondary">L</button>
                           <button type="button" value="M" class="btn btn-secondary">M</button>
                           <button type="button" value="N" class="btn btn-secondary">N</button>
                           <button type="button" value="O" class="btn btn-secondary">O</button>
                           <button type="button" value="P" class="btn btn-secondary">P</button>
                           <button type="button" value="Q" class="btn btn-secondary">Q</button>
                           <button type="button" value="R" class="btn btn-secondary">R</button>
                           <button type="button" value="S" class="btn btn-secondary">S</button>
                           <button type="button" value="T" class="btn btn-secondary">T</button>
                           <button type="button" value="U" class="btn btn-secondary">U</button>
                           <button type="button" value="V" class="btn btn-secondary">V</button>
                           <button type="button" value="W" class="btn btn-secondary">W</button>
                           <button type="button" value="X" class="btn btn-secondary">X</button>
                           <button type="button" value="Y" class="btn btn-secondary">Y</button>
                           <button type="button" value="Z" class="btn btn-secondary">Z</button>
                        </div>
                     </div>
                  </div>    
                  <!-- This shows the user selected ingredients in the table format dynamically-->                  
                  <form   action="/rationweights" onsubmit="calculateBTN();">
                     <div class="middle-section">
                        <div class="row">
                           <div class="ingredints-list-section col-sm-12 col-md-12 col-lg-6 col-xs-12">
                              <!-- <div><input class="form-control" type="text" id="search" onkeyup="getFeedSearch(event)"
                                    placeholder="Search for names.." title="Type in a name"></div> -->
                              <ul style="overflow: auto; width: 300px;height: 150px;" class="list-group" id="result">
                              </ul>
                              <br>
                              <div class="result">
                                 <div id="searchResults" class="col-sm-12 col-md-12 col-lg-8 col-xs-12"></div>
                                 <br>
                              </div>
                           </div>
                           <div class="selected-ingredints-selection col-sm-12 col-md-12 col-lg-6 col-xs-12">
                              <div class="cost-quantity">
                                 <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                    <table id="table-style">
                                       <tr>
                                          <th>Ingredients</th>
                                          <th>Fixed Quantity</th>
                                          <th>Cost/lb</th>
                                          <th>Delete</th>
                                       </tr>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <br>

                     <!-- Next button for navigating to quantities page and reset button to clear the session storage -->
                     <div class="next-button">
                        <button type="button" class="reset btn btn-secondary" onclick="clearSessionStorage()">Reset</button>
                        <button id="calculateBtn" type="submit" class="next btn btn-secondary" > Calculate
                        </button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <script>
         // Gets previous page selected Weight and weightGain from the session storage
         weight = sessionStorage.getItem("SelectedWeight");
         gain = sessionStorage.getItem("SelectedWeightGain");
         
         document.getElementById("weight").innerHTML = weight;
         document.getElementById("gain").innerHTML = gain;

         // gets the previous selected ingredients, cost and quantity
         previousIngredients =  JSON.parse(sessionStorage.getItem('ingredients'));
         previousCost =  JSON.parse(sessionStorage.getItem('cost'));
         previousQuantity =  JSON.parse(sessionStorage.getItem('quantity'));
         console.log(previousIngredients);
         // function to clear the session storage
         function clearSessionStorage(){
            sessionStorage.clear();
            location.reload();
        }
      </script>
</body>

</html>