<!DOCTYPE html>
<html lang="en">
   <head>
      <title>RATION WEIGHTS</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
         integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
         crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
         integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
         crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
         integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
         crossorigin="anonymous"></script>
      <link rel="stylesheet" href="../../stylesheets/Rationweights.css">
   </head>
   <body>
      <div class="container-fluid">
      <!-- This contains the logo and Heading  -->
      <div class="header">
      <div class="logo-header">
         <div class="logo top-left">
            <img src="../../images/logo.jpeg" alt="Ration Balancing" class="logo">
         </div>
         <div class="heading">
            <h2>RATION WEIGHTS</h2>
         </div>
      </div>
      <!-- This main body which contains the side-bar and main content -->
      <div class="main-body">
         <div class="row">
            <!-- This side bar is used for menu navigation -->
            <div class="side-bar">
               <div class="col-sm-12 col-md-2 col-lg-2 col-xs-12">
                  <a href="/cattleweight">
                     <div id="menu-buttons">
                        <p class="menu-text text-center">Cattle Weight</p>
                     </div>
                  </a>
                  <a href="/feedstuff">
                     <div id="menu-buttons">
                        <p class="menu-text text-center">FeedStuffs</p>
                     </div>
                  </a>
                  <a href="/rationweights">
                     <div id="menu-buttons" class="active">
                        <p class="menu-text text-center">Ration Weights</p>
                     </div>
                  </a>
                  <a href="/index">
                     <div id="menu-buttons">
                         <p class="menu-text text-center">Logout</p>
                     </div>
                   </a>
               </div>
            </div>
            <!-- This is main content code which contains calculated nutrients, total weight of each ingredients and total ration -->
            <div class="main-content">
               <div class="col-sm-12 col-md-10 col-lg-10 col-xs-12">
                  <div class="weights">
                     <!-- This class contains the calculated nutrients -->
                     <div class="total-nutrients">
                        <h2>Total Nutrients</h2>
                        <table id="table-style">
                        </table>
                     </div>
                  </div>
                  <br>
                     <table id="table-ingredients" class="table-ration">
                     <tr>
                        <th>FeedStuffs</th>
                        <th>AsFed (lbs)</th>
                        <th>DryMatter (lbs)</th>
                        <th>DryMatter Ration (%) </th>
                     </tr>
                  </table>
               </div>
               <!-- This is the info table which indicatesmaximum and minimum nutrient range -->
               <div class="info">
                  <span class="dot red-info"></span> Red indicates below the minimum total nutrient range. 
                  <span class="dot blue-info"></span> Blue indicates above the maximum total nutrient range
               </div>
            </div>
         </div>
      </div>
      <script>
            PreviousCPMinSelected = sessionStorage.getItem("CPMinSelected");
            PreviousCPMaxSelected = sessionStorage.getItem("CPMaxSelected");
            PreviousNEMMinSelected = sessionStorage.getItem("NEMMinSelected");
            PreviousNEMMaxSelected = sessionStorage.getItem("NEMMaxSelected");
            PreviousNEGMinSelected = sessionStorage.getItem("NEGMinSelected");
            PreviousNEGMaxSelected = sessionStorage.getItem("NEGMaxSelected");
            PreviousCAMinSelected =  sessionStorage.getItem("CAMinSelected");
            PreviousCAMaxSelected = sessionStorage.getItem("CAMaxSelected");
            PreviousPMinSelected = sessionStorage.getItem("PMinSelected");
            PreviousPMaxSelected = sessionStorage.getItem("PMaxSelected");
         
         var ingredients = JSON.parse(sessionStorage.getItem('key'));
         var finalOutput = JSON.parse(sessionStorage.getItem('drymatterPercentage'));
         var dryMatterOutput = JSON.parse(sessionStorage.getItem('dryMatterOutputValue'));
         var asFedValue = JSON.parse(sessionStorage.getItem('asFedValue'));
         var cpValue = JSON.parse(sessionStorage.getItem('cpValueDry'));
         var nEMValue = JSON.parse(sessionStorage.getItem('nEMValueDry'));
         var nEGValue = JSON.parse(sessionStorage.getItem('nEGValueDry'));
         var caValue = JSON.parse(sessionStorage.getItem('caValueDry'));
         var pValue = JSON.parse(sessionStorage.getItem('pValueDry'));
         var minMaxRange = sessionStorage.getItem('objectToPass');
         var data = minMaxRange.split(','); 
         var abc = JSON.parse(sessionStorage.getItem('s'));

         console.log(abc);

         console.log("This is asfed  "+ asFedValue) ;
         for (i = 0; i<ingredients.length ; i++) {
            //alert("In the for loop "+ i)
           // alert(ingredients[i])
            $('#table-ingredients').append(
               '<tr>' +
               '<td id=' +i +'>' +ingredients[i]+ '</td>' +
               '<td style="text-align:center">' + asFedValue[i] + '</td>'+
               '<td style="text-align:center">' + dryMatterOutput[i].toFixed(3) + '</td>'+
               '<td style="text-align:center">' + finalOutput[i] + '</td>'+
               '</tr>'     
            );
         }
         // total sumof final weights
         sumOfAsFedWeights = asFedValue.reduce((a,b) =>  parseFloat(a) + parseFloat(b));
         sumOfDryMatterWeights = dryMatterOutput.reduce((a,b) =>  parseFloat(a) + parseFloat(b));
         totalPercentageOfWeights = finalOutput.reduce((a,b) =>  parseFloat(a) + parseFloat(b));
        
         // Total weight row added at the end of the table-ingredients
         $('#table-ingredients').append(
               '<tr>' +
               '<td style>'+  "<h5>TotalWeight</h5>"   +'</td>'+
               '<td style="text-align:center">' + sumOfAsFedWeights.toFixed(3) + '</td>'+
               '<td style="text-align:center">' + sumOfDryMatterWeights.toFixed(3) + '</td>'+
               '<td style="text-align:center">' +  totalPercentageOfWeights + '</td>'+
               '</tr>'
            );

          // color coding to identify Nutrient requirement
         cpColor = "";nEMColor = ""; nEGColor = ""; caColor = ""; pColor = "";
         if (parseFloat(cpValue) < parseFloat(data[0])){
            cpColor = "background-color:#F1676E"
         }else if(parseFloat(cpValue) > parseFloat(data[1])){
            cpColor = "background-color:#6BADEC"
           
         }
         if (parseFloat(nEMValue) < parseFloat(data[2])){
            nEMColor = "background-color:#F1676E"
         }else if(parseFloat(nEMValue) > parseFloat(data[3])){
            nEMColor = "background-color:#6BADEC"
         }
         if (parseFloat(nEGValue) < parseFloat(data[4])){
            nEGColor = "background-color:#F1676E"
         }else if(parseFloat(nEGValue) > parseFloat(data[5])){
            nEGColor = "background-color:#6BADEC"
         }
         if (parseFloat(caValue) < parseFloat(data[6])){
            caColor = "background-color:#F1676E"
         }else if(parseFloat(caValue) > parseFloat(data[7])){
            caColor = "background-color:#6BADEC"
         }
         if (parseFloat(pValue) < parseFloat(data[8])){
            pColor = "background-color:#F1676E"
         }else if(parseFloat(pValue) > parseFloat(data[9])){
            pColor = "background-color:#6BADEC"
         }
         // To store actual nutirent content based on selected feedstuff
         
         $('#table-style').append(
            '<tr>'+
                  '<th style = "background-color:#ffff80"> <font color="red">Nutrients </font></th>'+
                  '<th> %CP </th>'+
                  '<th> Nem(Mcal/cwt) </th>'+
                  '<th> Neg(Mcal/cwt) </th>'+
                  '<th> %CA </th>'+
                  '<th> P  </th>'+
            '</tr>'+s
            '<tr>'+
               '<th style = "background-color:#ffff80"> <font color="red"> Selected Range (Min-Max) </font> </th>'+
               '<td>'+ PreviousCPMinSelected +' - '+PreviousCPMaxSelected +'</td>'+
               '<td>'+ PreviousNEMMinSelected +' - '+PreviousNEMMaxSelected +'</td>'+
               '<td>'+  PreviousNEGMinSelected +' - '+ PreviousNEGMaxSelected +'</td>'+
               '<td>'+ PreviousCAMinSelected +' - ' +PreviousCAMaxSelected +'</td>'+
               '<td>'+ PreviousPMinSelected +' - '+PreviousPMaxSelected +'</td>'+
               '</tr>'+
            '<tr>'+
               '<th style = "background-color:#ffff80">  <font color="red"> Concentration per lb.(DM) </font> </th>'+
               '<td style='+ cpColor+'>'+ cpValue+'</td>'+
               '<td style='+ nEMColor+'>'+nEMValue+'</td>'+
               '<td style='+ nEGColor+'>'+nEGValue+'</td>'+
               '<td style='+ caColor+'>'+caValue+'</td>'+
               '<td style='+ pColor+'>'+pValue+'</td>'+
           '</tr>'
         );
         

         weight = sessionStorage.getItem("SelectedWeight");
         gain = sessionStorage.getItem("SelectedWeightGain");
   </script>
   </body>
</html>

