<!DOCTYPE html>
<html lang="en">
   <head>
      <title>RATION WEIGHTS</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
         integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
         crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
         integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
         crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
         integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
         crossorigin="anonymous"></script>
      <link rel="stylesheet" href="../../stylesheets/Rationweights.css">
   </head>
   <body>
      <div class="container-fluid">
      <!-- This contains the logo and Heading  -->
      <div class="header">
      <div class="logo-header">
         <div class="logo top-left">
            <img src="../../images/logo.jpeg" alt="Ration Balancing" class="logo">
         </div>
         <div class="heading">
            <h2>RATION WEIGHTS</h2>
         </div>
      </div>
      <!-- This main body which contains the side-bar and main content -->
      <div class="main-body">
         <div class="row">
            <!-- This side bar is used for menu navigation -->
            <div class="side-bar">
               <div class="col-sm-12 col-md-2 col-lg-2 col-xs-12">
                  <a href="/cattleweight">
                     <div id="menu-buttons">
                        <p class="menu-text text-center">Cattle Weight</p>
                     </div>
                  </a>
                  <a href="/feedstuff">
                     <div id="menu-buttons">
                        <p class="menu-text text-center">FeedStuffs</p>
                     </div>
                  </a>
                  <a href="/rationweights">
                     <div id="menu-buttons" class="active">
                        <p class="menu-text text-center">Ration Weights</p>
                     </div>
                  </a>
               </div>
            </div>
            <!-- This is main content code which contains calculated nutrients, total weight of each ingredients and total ration -->
            <div class="main-content">
               <div class="col-sm-12 col-md-10 col-lg-10 col-xs-12">
                  <div class="weights">
                     <!-- This class contains the calculated nutrients -->
                     <div class="total-nutrients">
                        <h2>Total Nutrients</h2>
                        <table id="table-style">
                           <tr>
                              <th>%CP</th>
                              <th>N EM</th>
                              <th>N EG</th>
                              <th>%CA</th>
                              <th>P</th>
                           </tr>
                        </table>
                     </div>
                  </div>
                  <br>
                     <table id="table-ingredients" class="table-ration">
                     <tr>
                        <th>FeedStuffs</th>
                        <th>Quantity (lbs)</th>
                     </tr>
                  </table>
               </div>
               <!-- This is the info table which indicatesmaximum and minimum nutrient range -->
               <div class="info">
                  <p><span class="dot red-info"></span> Red indicates below the minimum total nutrient range</p>
                  <p><span class="dot blue-info"></span> Blue indicates above the maximum total nutrient range</p>
               </div>
            </div>
         </div>
      </div>
      <script>
         
         var ingredients = JSON.parse(localStorage.getItem('key'));
         var finalOutput = JSON.parse(localStorage.getItem('finalValues'));
         var cpValue = JSON.parse(localStorage.getItem('cpValue'));
         var nEMValue = JSON.parse(localStorage.getItem('nEMValue'));
         var nEGValue = JSON.parse(localStorage.getItem('nEGValue'));
         var caValue = JSON.parse(localStorage.getItem('caValue'));
         var pValue = JSON.parse(localStorage.getItem('pValue'));
         var minMaxRange = localStorage.getItem('objectToPass');
         var data = minMaxRange.split(',');  
         for (i = 0; i<ingredients.length ; i++) {
            //alert("In the for loop "+ i)
           // alert(ingredients[i])
            $('#table-ingredients').append(
               '<tr>' +
               '<td id=' +i +'>' +ingredients[i]+ '</td>' +
               '<td>' +finalOutput[i] + '</td>'+
               '</tr>'
            );
         }
         // total sumof final weights
         sumOfWeights = finalOutput.reduce((a,b) =>  parseFloat(a) + parseFloat(b));
         // Total weight row added at the end of the table-ingredients
         $('#table-ingredients').append(
               '<tr>' +
               '<td>'+  "<h5>TotalWeight</h5>"   +'</td>'+
               '<td>' +  sumOfWeights + '</td>'+
               '</tr>'
            );

          // color coding to identify Nutrient requirement
          cpColor = "";nEMColor = ""; nEGColor = ""; caColor = ""; pColor = "";
         if (cpValue < data[0]){
            cpColor = "background-color:#F1676E"
         }else if(cpValue > data[1]){
            cpColor = "background-color:#6BADEC"
         }
         if (nEMValue < data[2]){
            nEMColor = "background-color:#F1676E"
         }else if(nEMValue > data[3]){
            nEMColor = "background-color:#6BADEC"
         }
         if (nEGValue < data[4]){
            nEGColor = "background-color:#F1676E"
         }else if(nEGValue > data[5]){
            nEGColor = "background-color:#6BADEC"
         }
         if (caValue < data[6]){
            caColor = "background-color:#F1676E"
         }else if(caValue > data[7]){
            caColor = "background-color:#6BADEC"
         }
         if (pValue < data[8]){
            pColor = "background-color:#F1676E"
         }else if(pValue > data[9]){
            pColor = "background-color:#6BADEC"
         }
         // To store actual nutirent content based on selected feedstuff
         $('#table-style').append(
            '<tr>'+
               '<td style='+ cpColor+'>'+cpValue+'</td>'+
               '<td style='+ nEMColor+'>'+nEMValue+'</td>'+
               '<td style='+ nEGColor+'>'+nEGValue+'</td>'+
               '<td style='+ caColor+'>'+caValue+'</td>'+
               '<td style='+ pColor+'>'+pValue+'</td>'+
           '</tr>'
         );
   </script>
   </body>
</html>

