body {
    background: rgb(182, 248, 146) !important;
}

.header {
    position: relative;
    height: 55px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding-top: 10px;
    margin-top: 10px;
}

.heading {
    text-align: center;
    top: 7px;
    left: 45%;
}

.top-left {
    position: absolute;
    top: 2.7px;
    left: 0px;
}

.logo {
    width: 150px;
    height: 50px;
    padding-left: 15px;
}

.main-content {
    margin-bottom: 10px;
    margin-left: 90px;
    margin-right: 10px !important;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 5px solid white;
    background-color: #fff;
    border-radius: 12px;
}

.menu-text {
    font-size: 20px;
    font-weight: 600;
}

.cattle-weights .weight-gain {
    padding-left: 10px;
}

.quantities {
    min-width: 800px;
}

.weights {
    min-width: 800px;
}

.main-part {
    min-width: 800px;
}

.next-button {
    margin-left: 85%;
}

.multiselect {
    width: 20em;
    height: 300px !important;
}

.search-ingredients {
    border-radius: 15px;
    background-color: rgb(190, 187, 187);
}

.btn-secondary {
    background-color: rgb(190, 187, 187);
    border-color: white;
    color: black;
}

.side-bar a {
    text-decoration: none;
}

#nutrition-table {
    padding-top: 20px;
}

#menu-buttons.active {
    background: rgb(190, 187, 187)!important;
}

#menu-buttons.active .menu-text {
    color: white !important;
    cursor: pointer;
}

#menu-buttons .menu-text {
    font-size: 20px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

#menu-buttons {
    margin-top: 20px;
    border-radius: 15px;
    background: white;
    padding: 10px;
    width: 200px;
    height: 50px;
    position: relative;
}

#thead {
    text-decoration-color: white;
}

#table-style {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(190, 187, 187);
}

#table-style td,
#table-style th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table-style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(182, 248, 146);
    color: black;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 8px 20px 8px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}