body {
    background: rgb(198, 245, 173) !important;
}

.header {
    position: relative;
    height: 55px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding-top: 10px;
    margin-top: 10px;
}

.heading {
    top: 9px;
    left: 45%;
    text-align: center;
}

.top-left {
    position: absolute;
    top: 2.7px;
    left: 0px;
}

.logo {
    width: 150px;
    height: 50px;
    padding-left: 15px;
}

.main-content {
    margin-bottom: 10px;
    margin-left: 90px;
    margin-right: 10px !important;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 5px solid white;
    background-color: #fff;
    border-radius: 12px;
}

.weights {
    min-width: 800px;
}

.main-part {
    min-width: 800px;
}

.side-bar a {
    text-decoration: none;
}

#menu-buttons.active {
    background: rgb(190, 187, 187)!important;
}

#menu-buttons.active .menu-text {
    color: white !important;
    cursor: pointer;
}

#menu-buttons .menu-text {
    font-size: 20px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

#menu-buttons {
    margin-top: 20px;
    border-radius: 15px;
    background: white;
    padding: 10px;
    width: 200px;
    height: 50px;
    position: relative;
}

#table-style {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(190, 187, 187);
}

#table-style td,
#table-style th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table-style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(198, 245, 173);
    color: black;
}

.info {
  padding: 20px;
  position: relative;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
.red-info{

  background-color: #F1676E;
}
.blue-info {
  background-color: #6BADEC;
}
